.tns-outer {
  width: 100%;
  height: 100%;
  background: hsl(0 0% 50%);
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
.tns-ovh, .tns-inner, .swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.swiper-slide {
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
section {
  box-sizing: border-box;
  width: 100%;
}
